/** @format */

.ourProgramCard-card-container {
  padding: 18px;
  max-width: 280px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ourProgramCard-title {
  color: #3b6d3a;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  margin-top: 30px;
}

.ourProgramCard-cost {
  padding-top: 10px;
  font-size: 18px;
  color: #232323;
  font-weight: 500;
}

.ourProgramCard-desc {
  text-align: justify;
  color: black;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
}

.circle-wrapper {
  position: relative;
  width: 105px;
  height: 105px;
  float: left;
  margin: 10px;
}

.icon {
  position: absolute;
  color: #fff;
  font-size: 55px;
  top: 48px;
  left: 52px;
  transform: translate(-50%, -50%);
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
  animation: spin 2s linear infinite;
}

.success {
  border: 2.5px dashed #3b6d3a;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.page-wrapper {
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-btn {
  margin-top: 12px;
  color: #9bdc28;
  border-radius: 10px;
  background-color: #232323;
  padding: 10px 20px;
  font-weight: 500;
}

.subscribe-btn:hover {
  color: white;
}

.fa {
  padding-right: 8px;
}
