/** @format */

.productCard-card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 284px;
  height: 400px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.productCard-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.productCard-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.productCard-card:after {
  content: "F F";
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 150px;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.productCard-card .productCard-img-container {
  position: absolute;
  top: 40%;
  transform: translateY(-55%);
  z-index: 10000;
  width: 250px;
  height: 250px;
  transition: 0.5s;
}

.productCard-card:hover .productCard-img-container {
  top: 0%;
  width: 250px;
  height: 250px;
  transform: translateY(0%);
}

.productCard-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.productCard-content-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  padding-top: 24px;
}

.productCard-card:hover .productCard-content-box {
  height: 175px;
}

.productCard-card:hover .productCard-btn {
  margin-top: 5px;
}

.productCard-product-name,
.productCard-product-price,
.productCard-rating {
  color: #fff;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.productCard-product-name{
  display:inline-block;
    width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCard-product-price,
.productCard-product-name {
  font-weight: 800;
  font-size: 20px;
}

.productCard-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.productCard-btn {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.05s;
}
