/** @format */
.navbar-container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-toggler {
  background: unset !important;
}

nav {
  backdrop-filter: blur(55px) !important;
  background: rgb(250,250,250);
  background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2861519607843137) 100%);
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

/* sticky nav */
.sticky-nav {
  position: fixed;
  z-index: 999;
  transition: all 1s linear;
  scroll-behavior: smooth;
}

nav ul {
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item a {
  text-decoration: none !important;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}

.navbar-nav .nav-item a:hover {
  color: #3b6d3a !important;
}

.navBar-list-link:hover {
  background-color: rgb(99, 96, 96);
  cursor: pointer;
}

.navBar-rightDiv {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto !important;
  justify-content: center;
  padding-left: 100px;
}

.cartIcon {
  font-size: 26px;
  margin-right: 30px;
  text-decoration: none;
  position: absolute;
  margin-left: -164px;
}

.cartIcon:hover {
  cursor: pointer;
}

.cartBatc {
  height: 22px;
  width: 22px;
  border-radius: 8px;
  background-color: #232323;
  color: #9bdc28 !important;
  margin-left: 18px;
  font-size: 16px;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: solid 2px #9bdc28;
}

.cartBatch {
  color: black;
  text-shadow: none;
  font-size: 15px;
}

.ctaNavBar {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: white;

  padding: 8px 15px;
  max-width: 200px;
  border: none;
}

.dashboard-btn{
font-weight: 500;
}

.dashboard-btn:hover{
color: #3b6d3a;
}

/* ----------------DROP DOWN BUTTON CSS------------------------> */

.navBar-dropdown-moreBtn {
  font-size: 25px;
  border: none;
  padding: 8px 10px 8px 10px;
  color: black;
  cursor: pointer;
}

.navBar-dropdown-moreBtn-links {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
  box-shadow: inset 0px -1px 0px #ffffff;
  backdrop-filter: blur(55px) !important;
}

.navBar-dropdown-moreBtn-links a {
  display: flex;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
}

.navBar-dropdown-moreBtn-links a:hover {
  box-shadow: 0 0px 6px #3b6d3a !important;
}

.navBar-dropdown:hover .navBar-dropdown-moreBtn-links {
  display: block;
}

.fa-shopping-cart {
  color: #9bdc28;
}

.signin {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.signin:hover {
  color: #3b6d3a;
}

.cart-div {
  background: #232323;
  height: 38px;
  justify-content: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-width: 100px;
  width: 100px;
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../../assets/humberger.png");
}

.navbar-collapse {
  padding: 6px 0;
}

@media (max-width: 992px) {
  .navBar-rightDiv {
    margin-bottom: 18px;
  }
}
