.profile-dropdown-container {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

.profile-username{
  font-weight: 400;
}

.profile-username:hover{
  color: #3b6d3a;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: inset 0px -1px 0px #ffffff;
  backdrop-filter: blur(55px);
}

.profile-dropdown-content:hover {
  box-shadow: 0 0px 6px #3b6d3a ;
}

.profile-dropdown-container:hover .profile-dropdown-content {
  display: block;
}