/** @format */

@font-face {
  font-family: matSaleh;
  src: url(../../../Mat-Saleh.ttf);
}

.programSection-heading {
  color: #9bdc28;
  font-size: 48px !important;
  font-weight: 500;
  line-height: 37px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 24px;
  letter-spacing: -2px;
  text-shadow: #212529 -3px 3px 0px;
  -webkit-text-stroke: 2px #212529;
  -webkit-text-fill-color: #9bdc28;
  font-family: matSaleh !important;
  margin: 0;
  padding-top: 64px;
}

.programSection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 12px;
}

.programSection-title-firstHalf,
.programSection-title-secondHalf {
  color: #9bdc28;
  font-size: 38px !important;
  font-weight: 500;
  line-height: 37px;
  text-align: start;
  margin-top: 14px;
  margin-bottom: 24px;
  letter-spacing: -2px;
  text-shadow: #212529 -3px 3px 0px;
  -webkit-text-stroke: 2px #212529;
  -webkit-text-fill-color: #9bdc28;
  font-family: "Balsamiq Sans", cursive;
}

.programSection-title-secondHalf {
  padding-left: 16px;
}

.programSection-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: Poppins !important;
  gap: 18px;
}

@media (max-width: 480px) {
  .programSection-title-firstHalf,
  .programSection-title-secondHalf {
    font-size: 24px;
  }
}
