/** @format */

.post-slider {
  padding: 80px 0px 100px;
  background: linear-gradient(
    0deg,
    rgba(59, 109, 58, 1) 0%,
    rgb(158 152 152) 100%
  );
}
.updated-container {
  max-width: 1280px;
}

.font-italic {
  color: black;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
}
.post-slider .carousel-control-next,
.carousel-control-prev {
  width: auto;
  top: 50%;
  bottom: initial;
}
.post-slider .carousel-control-prev {
  left: -40px;
}
.post-slider .carousel-control-next {
  right: -40px;
}
.post-slider .carousel-indicators {
  bottom: -70px;
}
.post-slider img {
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.post-slider h3 {
  font-weight: 600;
  font-size: 28px;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Poppins;
}
.post-slider .price {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 12px;
}
.post-slider ul {
  list-style: none;
  padding: 0;
}
.post-slider ul li {
  padding-bottom: 10px;
  font-family: Poppins;
  font-weight: 300;
  color: whitesmoke;
}
.post-slider ul i {
  font-size: 18px;
  margin-right: 5px;
  color: black;
}

.text-clr {
  color: black !important;
}
/*-- Responsive CSS --*/
@media (max-width: 767px) {
  .post-slider .carousel-control-prev {
    left: 0px;
  }
  .post-slider .carousel-control-next {
    right: 0px;
  }
  .post-slider h3 {
    font-size: 22px;
  }
  .post-slider .price {
    font-size: 18px;
    top: 12px;
  }
}
