/** @format */

.pricingSection-heading {
  font-family: 'Pacifico', 'cursive';
  font-weight: normal;
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  color: #3b6d3a;
}

.pricingSection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pricingSection-title-firstHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 35px;
  color: #3b6d3a;
}

.pricingSection-title-secondHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 37px;
  color: #3b6d3a;
  font-weight: bold;
}

.dietImage {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 54px;
}

.btn {
  outline: none;
  padding: 8px 44px;
  background: radial-gradient(
    circle,
    rgb(52 124 40) -6%,
    rgba(35, 39, 40, 1) 84%,
    rgba(14, 18, 17, 1) 100%
  );
  border: 2px solid #3b6d3a !important;
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  margin-top: 16px;
}

.card-title,
.card-text {
  font-family: Poppins;
  font-weight: 400;
}

@media (max-width: 480px) {
  .pricingSection-title-secondHalf,
  .pricingSection-title-firstHalf {
    font-size: 24px;
  }
}

/* ---------------------------------------------- */

.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  max-width: 900px;
  margin: auto;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
.card {
  margin: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 250px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card__title {
  display: inline-block;
  width: 250px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}
