/** @format */

.pricingSection-heading {
  font-family: "Pacifico", "cursive";
  font-weight: normal;
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  color: #3b6d3a;
}

.pricingSection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pricingSection-title-firstHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 35px;
  color: #3b6d3a;
}

.pricingSection-title-secondHalf {
  font-family: Poppins;
  padding: 10px;
  font-size: 37px;
  color: #3b6d3a;
  font-weight: bold;
}

.dietImage {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 54px;
}

.btn {
  outline: none;
  padding: 8px 44px;
  background: radial-gradient(
    circle,
    rgb(52 124 40) -6%,
    rgba(35, 39, 40, 1) 84%,
    rgba(14, 18, 17, 1) 100%
  );
  border: 2px solid #3b6d3a !important;
  color: white !important;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  margin-top: 16px;
}

.card-title,
.card-text {
  font-family: Poppins;
  font-weight: 400;
}

@media (max-width: 480px) {
  .pricingSection-title-secondHalf,
  .pricingSection-title-firstHalf {
    font-size: 24px;
  }
}
