/** @format */

.SelectedProductCategory-selectCompany-heading {
  padding: 20px;
}

.SelectedProductCategory-param {
  color: black;
  font-size: 50px;
}

.SelectedProductCategory-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 50px 10px 10px 10px;
}
.ProductCard-price {
  color: black !important;
  font-family: Poppins;
  font-weight: 500;
}

@media (max-width: 480px) {
  .SelectedProductCategory-products {
    flex-direction: column;
  }
}
